<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wadaeasy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WadaEasy">
        <activity android:name=".Switch2"></activity>
        <activity android:name=".ServiceHome2"></activity>
        <activity android:name=".ServiceView"></activity>
        <activity android:name=".clientHome" />
        <activity android:name=".serviceHome" />
        <activity android:name=".Switch" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".ClientDashboard"/>
        <activity android:name=".myrequestinsert"/>
        <activity android:name=".RetriveRequestDetails"/>
        <activity android:name=".DeleteConfirmation"/>
        <activity android:name=".DeleteRequest"/>
        <activity android:name=".UpdateConfirmation"/>
        <activity android:name=".UpdateRequest"/>
        <activity android:name=".addAppointment"/>
        <activity android:name=".Edit_appoin"/>
        <activity android:name=".Appointment_confirm"/>
        <activity android:name=".view_appoint"/>
        <activity android:name=".AppoimentVIewS"/>
        <activity android:name=".wantedlistview">



        </activity>
        <activity android:name=".AddService2" />
        <activity android:name=".AddService1"></activity>
    </application>

</manifest>